.timer2_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}
.timer2_text {
    margin: auto;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.timer2_counter {
    font-size: 4rem;
}

.timer2_animation__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.timer2_line{
    background-color: brown;
    width: 70%;
    height: 6px;
    position: absolute;
    top:150px;
    left: 15%;
}

.timer2_point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
    top:143px;
    left:15%;
}

.timer2_counter_second{
    font-size: 3.5rem;
}